.homepage-new-recipe-card-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  justify-content: space-between;

  max-width: calc(700 / var(--base) * 1rem);
  width: calc(700 / var(--base) * 1rem);
  min-width: calc(700 / var(--base) * 1rem);
  min-height: calc(375 / var(--base) * 1rem);
  height: calc(375 / var(--base) * 1rem);
  max-height: calc(375 / var(--base) * 1rem);
  z-index: 2;
}
.homepage-new-recipe-info-container {
  grid-column: 2 / span 1;
  min-height: calc(375 / var(--base) * 1rem);
  max-height: calc(375 / var(--base) * 1rem);
  width: max(100%, 100%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--main800);
  color: white;
  font-family: var(--google-font);
  box-sizing: border-box;
  gap: 5px;
  position: relative;
}
.homepage-recipe-icon {
  position: absolute;
  top: 15px;
  right: 15px;

  max-width: calc(45 / var(--base) * 1rem);
  min-width: calc(45 / var(--base) * 1rem);
  min-height: calc(30 / var(--base) * 1rem);
  max-height: calc(30 / var(--base) * 1rem);
  object-fit: contain;
}
.homepage-new-recipe-card-title {
  height: max-content;
  max-height: max-content;
  width: max(90%, 90%);
  font-family: inherit;
  font-size: var(--r32);
  color: inherit;
  padding: 0px;
  margin: 0px;
}
.homepage-new-recipe-card-cooking-time {
  max-height: max-content;
  max-width: max-content;
  padding: 0px;
  margin: 0px;
  font-family: inherit;
  font-size: var(--r12);
  color: inherit;
}
.homepage-new-recipe-card-tags-container {
  display: flex;
  flex-wrap: wrap;
  width: max(100%, 100%);
  max-height: max-content;
  padding-left: 10px;
  row-gap: 5px;
  column-gap: 5px;
}
.homepage-new-recipe-card-tag {
  max-width: max-content;
  min-width: max-content;
  max-height: max-content;
  padding: 0px 5px;
  color: inherit;
  font-size: var(--r12);
  flex-basis: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

.homepage-new-recipe-description {
  max-width: max-content;
  min-width: max-content;
  max-height: max-content;
  padding: 0px;
  margin: 0px;
  color: inherit;
  font-size: var(--r16);
  font-family: var(--google-font);
  max-width: 100%;
}
.homepage-new-recipe-star-rating {
  max-width: max-content;
  min-width: max-content;
  max-height: max-content;
  padding: 0px;
  margin: 0px;
  max-width: calc(15 / var(--base) * 1rem);
  min-width: calc(15 / var(--base) * 1rem);
  max-height: calc(15 / var(--base) * 1rem);
  min-width: calc(15 / var(--base) * 1rem);
  object-fit: contain;
  margin-top: 0px;
}
.homepage-new-recipe-make-count-container {
  max-width: 100%;
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-left: 10px;
}
.homepage-new-recipe-count-icon {
  max-width: calc(30 / var(--base) * 1rem);
  min-width: calc(30 / var(--base) * 1rem);
  max-height: calc(30 / var(--base) * 1rem);
  min-width: calc(30 / var(--base) * 1rem);
  object-fit: contain;
}
.homepage-new-recipe-count-text {
  max-width: max-content;
  min-width: max-content;
  max-height: max-content;
  padding: 0px;
  margin: 0px;
  color: inherit;
  font-size: var(--r12);
  max-width: 100%;
}
.homepage-new-recipe-make-button {
  max-width: max-content;
  max-height: max-content;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: var(--r18);
  font-family: var(--google-font);
  background-color: var(--main1000);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  transition: all 0.5s;
}
.homepage-new-recipe-make-button:hover {
  background-color: var(--main100);
  color: black;
  cursor: pointer;
}
.homepage-new-recipe-card-cooking-time-container {
  display: flex;
  gap: 10px;
  max-width: max-content;
  max-height: max-content;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
  padding-right: 10px;
}
.homepage-new-recipe-card-cooking-icon {
  max-width: calc(15 / var(--base) * 1rem);
  min-width: calc(15 / var(--base) * 1rem);
  max-height: calc(15 / var(--base) * 1rem);
  min-width: calc(15 / var(--base) * 1rem);
  object-fit: cover;
}
.homepage-new-recipe-card-cooking-time {
  font-family: var(--google-font);
  font-size: var(--r12);
  padding: 0px;
  margin: 0px;
  color: inherit;
  width: max-content;
  max-width: max-content;
  max-height: max-content;
}
.homepage-new-recipe-ratings-container {
  display: flex;
  max-width: max-content;
  max-height: max-content;
  gap: 2.5px;
  align-items: center;
  justify-items: center;
}
.homepage-new-recipe-review-number-text {
  font-family: var(--google-font);
  font-size: var(--r10);
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
}
.homepage-new-recipe-card-id-container {
  width: max(90%, 90%);
  max-height: max-content;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 900px) {
  .homepage-new-recipe-card-main-container {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
  }
  .homepage-new-recipe-info-container {
    padding: 40px 20px;
  }
}
@media (max-width: 850px) {
  .homepage-new-recipe-card-title {
    font-size: var(--r26);
  }
  .homepage-new-recipe-card-cooking-time {
    font-size: var(--r10);
  }
  .homepage-new-recipe-card-tag {
    font-size: var(--r10);
  }
  .homepage-new-recipe-description {
    font-size: var(--r14);
  }
  .homepage-new-recipe-count-text {
    font-size: var(--r10);
  }
  .homepage-new-recipe-make-button {
    font-size: var(--r18);
  }
  .homepage-new-recipe-card-cooking-time {
    font-size: var(--r10);
  }
  .homepage-new-recipe-review-number-text {
    font-size: var(--r10);
  }
}
@media (max-width: 650px) {
  .homepage-new-recipe-card-id-container {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }

  .homepage-new-recipe-card-cooking-time-container {
    gap: 10px;
    border-right: 0px solid white;
    padding-bottom: 10px;
    padding-left: 5px;
    align-self: flex-start;
    text-align: left;
  }

  .homepage-new-recipe-card-title {
    font-size: var(--r22);
  }
  .homepage-new-recipe-card-cooking-time {
    font-size: var(--r8);
  }
  .homepage-new-recipe-card-tag {
    font-size: var(--r8);
  }
  .homepage-new-recipe-description {
    font-size: var(--r12);
  }
  .homepage-new-recipe-count-text {
    font-size: var(--r8);
  }
  .homepage-new-recipe-make-button {
    font-size: var(--r12);
  }
  .homepage-new-recipe-card-cooking-time {
    font-size: var(--r8);
  }
  .homepage-new-recipe-review-number-text {
    font-size: var(--r18);
  }
  .homepage-new-recipe-card-main-container,
  .homepage-new-recipe-info-container {
    min-height: calc(275 / var(--base) * 1rem);
    height: calc(275 / var(--base) * 1rem);
    max-height: calc(275 / var(--base) * 1rem);
  }
}
@media (max-width: 400px) {
  .homepage-new-recipe-card-main-container {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .homepage-new-recipe-info-container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    grid-column: 1 / span 1;
  }
  .homepage-recipe-icon {
    position: absolute;
    top: 15px;
    right: 15px;

    max-width: calc(30 / var(--base) * 1rem);
    min-width: calc(30 / var(--base) * 1rem);
    min-height: calc(20 / var(--base) * 1rem);
    max-height: calc(20 / var(--base) * 1rem);
  }
}
