.recipe-browser-backdrop {
  min-height: 100vh;
  height: max-content;
  max-height: max-content;
  width: max(
    calc(100vw - var(--scrollbar-width)),
    calc(100vw - var(--scrollbar-width))
  );
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 50px 0px;
  margin: 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("../../../assets/images/recipe-creator/backdrops/silver-metallic-textured-background.jpg");
}
.recipe-browser-main-container {
  background-color: var(--lightwhite);
  width: max(900px, 900px);
  min-height: 80vh;
  max-height: max-content;
  border-radius: 10px;
  position: relative;

  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  align-items: center;
  justify-content: center;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);

  overflow-x: hidden;
  gap: 30px;
  box-sizing: border-box;
  padding: 40px 40px;
}
.recipe-browser-nav-menu-button {
  position: fixed;
  top: 50px;
  left: 0px;

  border: none;
  background-color: var(--main800);
  box-shadow: 0px 0px 10px black;
  width: max(40px, 40px);
  height: max(40px, 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
  box-sizing: border-box;
  color: white;
  transition: all 0.5s;
  z-index: 1;
}

.recipe-browser-nav-menu-button-moved-out {
  left: 250px;
}
.recipe-browser-nav-menu-button:hover {
  background-color: white;
  box-shadow: 0px 0px 10px black;
  color: var(--main800);
  cursor: pointer;
}
.recipe-browser-nav-menu-icon {
  width: max(100%, 100%);
  height: max(100%, 100%);
  object-fit: cover;
}
.delete-temp-get-data-button {
  position: fixed;
  top: 20px;
  left: 200px;
  font-size: var(--r22);
  font-family: var(--google-font);
  padding: 10px 20px;
  background-color: var(--main800);
  color: white;
}
.recipe-browser-no-data-found {
  color: black;
  padding: 0px;
  margin: 0px;
  font-size: var(--r20);
  font-family: var(--google-font);
  justify-self: flex-start;
  align-self: flex-start;
}
@media (max-width: 1000px) {
  .recipe-browser-main-container {
    width: max(90%, 90%);

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 275px);
    gap: 30px;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  .recipe-browser-main-container {
    width: max(85%, 85%);

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 275px);
    gap: 30px;
    padding: 30px;
  }
}
@media (max-width: 575px) {
  .recipe-browser-main-container {
    width: max(90%, 90%);
  }
}
@media (max-width: 510px) {
  .recipe-browser-main-container {
    width: max(60%, 60%);

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 275px);

    gap: 30px;
    padding: 30px;
  }
}
@media (max-width: 475px) {
  .recipe-browser-main-container {
    width: max(70%, 70%);
  }
}
@media (max-width: 400px) {
  .recipe-browser-main-container {
    width: max(90%, 90%);
  }
}
@media (max-width: 325px) {
  .recipe-browser-main-container {
    gap: 20px;
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
