.homepage-backdrop {
  background-image: url("../../../assets/images/homepage/homepage-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: max-content;
  height: max-content;
  max-height: max-content;
  width: max(
    calc(100vw - var(--scrollbar-width)),
    calc(100vw - var(--scrollbar-width))
  );
  position: relative;
  display: flex;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}
.homepage-main-container {
  background-color: var(--lightwhite);
  width: max(1000px, 1000px);
  min-height: 100vh;

  height: max-content;
  max-height: max-content;
  border-radius: 10px;
  position: relative;

  padding: 0px;
  padding-bottom: 20px;
  margin: 50px auto;
  box-sizing: border-box;

  box-shadow: 0px 0px 40px black;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.homepage-section-title {
  font-family: var(--google-font);
  color: var(--blue);
  font-size: var(--r48);
  max-width: 100%;
  max-height: max-content;
  padding: 0px;
  margin: 0px;
  color: var(--main700);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-section-title-underline {
  width: max(400px, 400px);
  height: max(40px, 40px);
  object-fit: fill;
  justify-self: center;
  margin-bottom: 10px;

  display: inline-block;
}
.new-recipe-slideshow-category-container {
  display: grid;
  width: max(1000px, 1000px);
  padding: 0px 40px;
  max-height: max-content;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  grid-template-columns: max-content 1fr;
  gap: 40px;
  padding-bottom: 40px;
}
.new-recipe-slideshows-container {
  max-width: max-content;
  width: max-content;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-height: max-content;
  height: max-content;
  gap: 50px;
}

@media (max-width: 1005px) {
  .new-recipe-slideshow-category-container {
    width: max(100%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding: 20px;
  }
}
@media (max-width: 1000px) {
  .homepage-backdrop {
    box-sizing: border-box;
    padding: 20px 40px;
  }
  .homepage-main-container {
    width: max(100%, 100%);
  }
  .new-recipe-slideshows-container {
    width: max(100%, 100%);
  }
}

@media (max-width: 675px) {
  .homepage-section-title {
    font-size: var(--r32);
  }
  .homepage-section-title-underline {
    width: max(250px, 250px);
    height: max(30px, 30px);
  }

  .homepage-backdrop {
    box-sizing: border-box;
    padding: 20px 10px;
  }
}
