<div class="homepage-backdrop">
  <homepage-login-buttons></homepage-login-buttons>
  <div class="homepage-main-container">
    <homepage-top-nav-bar></homepage-top-nav-bar>
    <homepage-recipe-slideshow></homepage-recipe-slideshow>

    <h6 class="homepage-section-title">New Recipes</h6>
    <img
      src="assets/images/chalk-highlights/chalk-underline.png"
      alt="Heading-Underline"
      class="homepage-section-title-underline"
    />
    <div class="new-recipe-slideshow-category-container">
      <div class="new-recipe-slideshows-container">
        <homepage-new-recipe-slideshow></homepage-new-recipe-slideshow>
        <homepage-cuisines-section></homepage-cuisines-section>
        <homepage-cooking-time-slideshow></homepage-cooking-time-slideshow>
      </div>
      <homepage-recipe-categories></homepage-recipe-categories>
    </div>
    <homepage-footer></homepage-footer>
  </div>
</div>
