.homepage-mobile-preview-popup-main-container {
  position: absolute;
  z-index: var(--homepage-mobile-preview-popup-main-container-z-index);
  top: 0px;
  left: 0px;
  width: max(200px, 200px);
  height: max(100%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;

  box-sizing: border-box;
  padding: 30px 10px;
  gap: 10px;
  align-content: space-evenly;
  justify-content: center;
  background-color: var(--main800);
  color: white;
  box-shadow: 0px 0px 20px black;
  z-index: 2;
}
.homepage-mobile-preview-popup-main-container-four {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.homepage-mobile-preview-popup-main-container-three {
  grid-template-rows: 25% 25% 25%;
}
.homepage-mobile-preview-popup-main-container-two {
  grid-template-rows: 25% 25%;
}
.homepage-mobile-preview-button {
  width: max(100%, 100%);
  height: max(100%, 100%);
  border: none;
  display: grid;
  grid-template-rows: 1fr max-content;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  row-gap: 10px;
  background-color: inherit;
  color: inherit;
  transition: "background-color" 0.5s color 0.5s;
  padding: 10px;
}
.homepage-mobile-preview-button:hover {
  background-color: var(--main100);
  color: black;
}
.homepage-mobile-preview-button-image-container {
  width: max(30px, 30px);
  height: max(30px, 30px);
  position: relative;
  box-sizing: border-box;
  justify-self: center;
}
.homepage-mobile-preview-button-image {
  width: max(100%, 100%);
  height: max(100%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  object-fit: fill;
}
.homepage-mobile-preview-button-title {
  font-family: var(--google-font);
  font-size: var(--r18);
  line-height: var(--r18);
  color: inherit;
  text-align: center;
  width: max(100%, 100%);
  height: max-content;
  max-height: max-content;
  padding: 0px;
  margin: 0px;
}
