<div class="recipe-creator-backdrop">
  <img
    class="recipe-creator-backdrop-image"
    src="{{ selectedBackgroundImageUrl }}"
    alt="{{ selectedBackgroundAltText }}"
  />
  <logged-in-nav-bar *ngIf="loggedIn"></logged-in-nav-bar>
  <logged-out-nav-bar *ngIf="!loggedIn"></logged-out-nav-bar>

  <background-changer-popup *ngIf="backgroundChangerActiveValue">
  </background-changer-popup>
  <div class="recipe-creator-title-container">
    <h6 class="recipe-creator-title-text">Recipe Creator</h6>
    <img
      src="../../../assets/images/chalk-highlights/chalk-underline.png"
      alt="chalk underline"
      class="recipe-creator-title-chalk-underline"
    />
  </div>
  <div class="recipe-creator-main-container">
    <button
      class="recipe-creator-user-button recipe-creator-background-button"
      (mouseenter)="backgroundButtonHoverHandler()"
      (mouseleave)="backgroundButtonHoverHandler()"
      (click)="backgroundButtonHandler()"
    >
      <img
        class="recipe-creator-user-button-icon"
        src="../../../assets/images/recipe-creator/icons/background/background-white.png"
        *ngIf="!backgroundButtonHover"
      />
      <img
        class="recipe-creator-user-button-icon"
        src="../../../assets/images/recipe-creator/icons/background/background.png"
        *ngIf="backgroundButtonHover"
      />
    </button>
    <button
      class="recipe-creator-user-button recipe-creator-card-button"
      (mouseenter)="recipeCardButtonHoverHandler()"
      (mouseleave)="recipeCardButtonHoverHandler()"
      (click)="changeTemplateButtonHandler()"
    >
      <img
        class="recipe-creator-user-button-icon"
        src="../../../assets/images/recipe-creator/icons/recipe-cards/recipe-cards-white.png"
        *ngIf="!recipeCardHover"
      />
      <img
        class="recipe-creator-user-button-icon"
        src="../../../assets/images/recipe-creator/icons/recipe-cards/recipe-cards.png"
        *ngIf="recipeCardHover"
      />
    </button>

    <!-- <recipe-template-one
      *ngIf="selectedTemplateIndexSelector === 0"
    ></recipe-template-one>
    <recipe-template-two
      *ngIf="selectedTemplateIndexSelector === 1"
    ></recipe-template-two>
    <recipe-template-three
      *ngIf="selectedTemplateIndexSelector === 2"
    ></recipe-template-three> -->
    <recipe-template-three></recipe-template-three>
  </div>
  <template-selector-popup
    *ngIf="changeRecipeTemplatePopupActive"
  ></template-selector-popup>
  <error-popup *ngIf="errorPopupActive"></error-popup>
  <login-popup *ngIf="loginPopupActive"></login-popup>
  <signup-popup *ngIf="signupPopupActive"></signup-popup>
  <tags-selector-popup *ngIf="tagsPopupActive"></tags-selector-popup>
</div>
