.homepage-new-recipe-slideshow-slide-tracker {
  max-width: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
}
.homepage-new-recipe-slideshow-slide-tracker-button {
  max-width: calc(16 / var(--base) * 1rem);
  width: calc(16 / var(--base) * 1rem);
  min-width: calc(16 / var(--base) * 1rem);
  max-height: calc(16 / var(--base) * 1rem);
  height: calc(16 / var(--base) * 1rem);
  min-height: calc(16 / var(--base) * 1rem);
  background-color: white;
  transition: all 1s;
  border: none;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-new-recipe-slideshow-slide-tracker-button-active {
  background-color: var(--main1000);
  border: 2px solid white;
}
.homepage-new-recipe-slideshow-slide-tracker-button:hover {
  background-color: var(--main800);
  cursor: pointer;
}
.homepage-new-recipe-slideshow-slide-tracker-arrow-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.homepage-new-recipe-slideshow-slide-tracker-dots {
  font-family: var(--google-font);
  font-size: var(--r16);
  padding: 0px;
  margin: 0px;
  color: var(--white);
}

.homepage-new-recipe-slideshow-slide-tracker-arrow-button {
  max-width: calc(16 / var(--base) * 1rem);
  width: calc(16 / var(--base) * 1rem);
  min-width: calc(16 / var(--base) * 1rem);
  max-height: calc(16 / var(--base) * 1rem);
  height: calc(16 / var(--base) * 1rem);
  color: white;
  transition: all 0.5s;
  border: 0px;
  background-color: var(--main800);
  border-radius: 50%;

  box-sizing: border-box;
  padding: 2px 1.5px 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-new-recipe-slideshow-slide-tracker-arrow-button-icon {
  width: max(100%, 100%);
  height: max(100%, 100%);
  object-fit: cover;
}
@media (max-width: 400px) {
  .homepage-new-recipe-slideshow-slide-tracker-button {
    max-width: calc(12 / var(--base) * 1rem);
    width: calc(12 / var(--base) * 1rem);
    min-width: calc(12 / var(--base) * 1rem);
    max-height: calc(12 / var(--base) * 1rem);
    height: calc(12 / var(--base) * 1rem);
    min-height: calc(12 / var(--base) * 1rem);
  }
  .homepage-new-recipe-slideshow-slide-tracker-arrow-button {
    max-width: calc(12 / var(--base) * 1rem);
    width: calc(12 / var(--base) * 1rem);
    min-width: calc(12 / var(--base) * 1rem);
    max-height: calc(12 / var(--base) * 1rem);
    height: calc(12 / var(--base) * 1rem);
    padding: 0px;
  }
}
