.homepage-category-slide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: max(100%, 1000px);
  height: max(100%, 100%);
}
.homepage-slideshow-configuration {
  width: max(100%, 100%);
  height: max(100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.homepage-category-slide-stacked-cards {
  display: flex;
  flex-direction: column;

  align-content: space-between;
  justify-content: space-between;

  min-height: calc(425 / var(--base) * 1rem);
  max-height: calc(425 / var(--base) * 1rem);
  padding: 20px 0px;
  box-sizing: border-box;
}
.homepage-slides-title-card {
  max-width: max-content;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  background-color: var(--lightwhite);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.homepage-slides-title {
  font-family: var(--google-font);
  font-size: var(--r48);
  color: var(--main600);
  padding: 0px;
  margin: 0px;
}
.chicken-slide-title-underline {
  width: max(200px, 200px);
  height: max(30px, 30px);
  object-fit: fill;
}
.chicken-slide-title-underline-small {
  width: max(150px, 125px);
  height: max(20px, 20px);
  object-fit: fill;
}
