.homepage-category-slide {
  width: max(100%, 100%);
  height: max(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 15px;
  box-sizing: border-box;
}

.homepage-category-slide-stacked-cards {
  display: flex;
  flex-direction: column;

  align-content: space-evenly;
  justify-content: space-evenly;

  height: max(100%, 100%);

  box-sizing: border-box;
}
.homepage-slides-title-card {
  max-width: max-content;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  background-color: var(--lightwhite);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.homepage-slides-title {
  font-family: var(--google-font);
  font-size: var(--r48);
  color: var(--main600);
  padding: 0px;
  margin: 0px;
}
.chicken-slide-title-underline {
  width: max(200px, 200px);
  height: max(30px, 30px);
  object-fit: fill;
}
.chicken-slide-title-underline-small {
  width: max(150px, 125px);
  height: max(20px, 20px);
  object-fit: fill;
}
@media (max-width: 950px) {
  .homepage-slides-title {
    font-family: var(--google-font);
    font-size: var(--r32);
    color: var(--main600);
    padding: 0px;
    margin: 0px;
  }
  .chicken-slide-title-underline {
    width: max(150px, 150px);
    height: max(20px, 20px);
    object-fit: fill;
  }
  .chicken-slide-title-underline-small {
    width: max(100px, 100px);
    height: max(20px, 20px);
    object-fit: fill;
  }
}
@media (max-width: 805px) {
  .homepage-slides-title {
    font-family: var(--google-font);
    font-size: var(--r28);
    color: var(--main600);
    padding: 0px;
    margin: 0px;
  }
  .chicken-slide-title-underline {
    width: max(125px, 125px);
    height: max(20px, 20px);
    object-fit: fill;
  }
  .chicken-slide-title-underline-small {
    width: max(75px, 75px);
    height: max(20px, 20px);
    object-fit: fill;
  }
}
@media (max-width: 660px) {
  .homepage-category-slide {
    padding: 0px 7.5px;
  }
}
