<div class="homepage-social-media-section-main-container">
  <div class="homepage-social-media-feed-container">
    <p class="homepage-social-media-feed-title">Instagram</p>

    <social-media-example
      socialMediaBackgroundImageLocation="assets/images/food/basamic-chicken.jpg"
      socialMediaThumbnailImageLocation="assets/images/food/french-toast.jpg"
      socialMediaTitle="French Toast"
      numberOfFollowers="2.3M followers"
      socialMediaButtonIconLocation="assets/images/icons/social-media-icons/instagram.png"
      socialMediaButtonText="Follow"
    ></social-media-example>
    <social-media-example
      socialMediaBackgroundImageLocation="assets/images/food/meat-plater.jpg"
      socialMediaThumbnailImageLocation="assets/images/food/basamic-chicken.jpg"
      socialMediaTitle="Chicken"
      numberOfFollowers="4.3M followers"
      socialMediaButtonIconLocation="assets/images/icons/social-media-icons/instagram.png"
      socialMediaButtonText="Follow"
    ></social-media-example>
  </div>
  <div class="homepage-social-media-feed-container">
    <p class="homepage-social-media-feed-title">Facebook</p>
    <social-media-example
      socialMediaBackgroundImageLocation="assets/images/food/basamic-chicken.jpg"
      socialMediaThumbnailImageLocation="assets/images/food/chicken-salad.jpg"
      socialMediaTitle="Salad"
      numberOfFollowers="1.3M followers"
      socialMediaButtonIconLocation="assets/images/icons/social-media-icons/facebook.png"
      socialMediaButtonText="Follow Page"
    ></social-media-example>
    <social-media-example
      socialMediaBackgroundImageLocation="assets/images/food/chicken-salad.jpg"
      socialMediaThumbnailImageLocation="assets/images/food/veggie-salad.jpg"
      socialMediaTitle="Veggies"
      numberOfFollowers="30k followers"
      socialMediaButtonIconLocation="assets/images/icons/social-media-icons/facebook.png"
      socialMediaButtonText="Follow Page"
    ></social-media-example>
  </div>
  <div class="homepage-social-media-feed-container">
    <p class="homepage-social-media-feed-title">Youtube</p>
    <social-media-example
      socialMediaBackgroundImageLocation="assets/images/food/french-toast.jpg"
      socialMediaThumbnailImageLocation="assets/images/food/meat-plater.jpg"
      socialMediaTitle="Beef"
      numberOfFollowers="5M followers"
      socialMediaButtonIconLocation="assets/images/icons/social-media-icons/youtube.png"
      socialMediaButtonText="Subscribe"
    ></social-media-example>
    <social-media-example
      socialMediaBackgroundImageLocation="assets/images/food/meat-plater.jpg"
      socialMediaThumbnailImageLocation="assets/images/food/basamic-chicken.jpg"
      socialMediaTitle="Chicken"
      numberOfFollowers="4.3M followers"
      socialMediaButtonIconLocation="assets/images/icons/social-media-icons/youtube.png"
      socialMediaButtonText="Subscribe"
    ></social-media-example>
  </div>
</div>
