.homepage-social-media-section-main-container {
  width: max(1000px, 1000px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: calc(400 / var(--base) * 1rem);
  max-height: calc(400 / var(--base) * 1rem);
  box-sizing: border-box;
  padding: 40px 80px;
  gap: 80px;
  background-color: var(--main800);
  position: relative;
}

.homepage-social-media-feed-container {
  height: max(100%, 100%);
  width: max(100%, 100%);
  background-color: var(--main100);
  color: var(--black);
  font-family: var(--google-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  gap: 10px;
}
.homepage-social-media-feed-title {
  font-size: var(--r22);
  font-family: inherit;
  color: inherit;
  margin: 0px;
  padding: 0px;
  max-width: max-content;
  max-height: max-content;
}
