.tags-selector-popup-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: max(100vw, 100vw);
  height: max(100vh, 100vh);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--login-popup-backdrop-z-index);
}
.tags-selector-main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(300px, 300px);
  height: 90vh;
  max-height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: var(--login-popup-main-container-z-index);
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  overflow-y: scroll;
}
.tag-selector-popup-title {
  margin: 0px;
  padding: 0px;
  font-size: var(--r48);
  font-family: var(--google-font);
  line-height: var(--r48);
  color: var(--main600);
  text-align: center;
}
.tag-selector-popup-title-underline {
  width: max(70%, 70%);
  height: max(30px, 30px);
  object-fit: fill;
}
.tag-selector-popup-closing-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  background-color: var(--main600);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(25px, 25px);
  height: max(25px, 25px);
  padding: 3px 3px 3.5px 3px;
  box-sizing: border-box;
  border: 0px;
  color: var(--white);
  transition: all 0.5s;
}
.tag-selector-popup-closing-button-icon {
  color: inherit;
  width: max(100%, 100%);
  height: max(100%, 100%);
  transition: all 1s;
}
.tag-selector-popup-closing-button:hover,
.tag-selector-popup-submit-button:hover {
  color: black;
  background-color: var(--main100);
  cursor: pointer;
}
.tag-selector-popup-sub-title {
  margin: 0px;
  padding: 0px;
  font-size: var(--r32);
  font-family: var(--google-font);
  line-height: var(--r32);
  color: var(--main600);
  text-align: center;
}
.tag-selector-popup-sub-title-underline {
  width: max(70%, 70%);
  height: max(30px, 30px);
  object-fit: fill;
}
.tag-selector-sub-container {
  width: max(100%, 100%);

  height: max-content;
  max-height: max-content;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;

  box-sizing: border-box;

  align-items: center;
  justify-content: space-between;

  gap: 10px;
  column-gap: 20px;
}
.tag-selector-tag-button {
  width: max(100%, 100%);

  height: max-content;
  max-height: max-content;
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: var(--main800);
  border: 4px solid transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  color: white;
  transition: all 0.5s;
}
.tag-selector-tag-button:hover {
  background-color: var(--main100);
  color: black;
  border: 4px solid var(--popup-choice-button-active-color);
  cursor: pointer;
}

.tag-selector-tag-button-active {
  border: 4px solid var(--popup-choice-button-active-color);
}
.tag-selector-tag-icon {
  width: max(22.5px, 22.5px);
  height: max(22.5px, 22.5px);

  object-fit: contain;
}
.tag-selector-button-text {
  font-family: var(--google-font);
  font-size: var(--r14);
  line-height: var(--r14);
  padding: 0px;
  margin: 0px;
  color: inherit;

  width: max-content;
  max-width: max-content;
  height: max-content;
  max-height: max-content;
}
.tag-selector-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  font-family: var(--google-font);
  font-size: var(--r20);
  color: white;
  background-color: var(--main800);
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

.tag-selector-submit-button:hover {
  background-color: var(--main100);
  color: black;
  cursor: pointer;
}

.disableButton {
  background-color: grey;
  color: white;
}

.disableButton:hover {
  color: white;
  background-color: var(--main800);
  border: none;
  border-radius: 10px;
}
