<div class="refresh-warning-backdrop">
  <div class="refresh-warning-main-container">
    <div class="refresh-warning-text-container">
      <h6 class="refresh-warning-warning-text">Warning!</h6>
      <p class="refresh-warning-text-body">All content will be lost!</p>
    </div>
    <div class="recipe-warning-recipe-buttons-container">
      <button
        class="recipe-warning-interact-button recipe-warning-ok-button"
        (click)="confirmButtonClickHandler()"
      >
        OK
      </button>
      <button
        class="recipe-warning-interact-button recipe-warning-cancel-button"
        (click)="cancelButtonClickHandler()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
