.recipe-browser-recipe-card {
  width: max(200px, 200px);
  height: max(100%, 100%);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 0px;
  transition: all 0.5s;
  padding: 10px 10px;
  box-shadow: 0px 0px 7.5px black;
}

.recipe-browser-recipe-card:hover {
  box-shadow: 0px 0px 25px black;
}
.recipe-browser-recipe-card-link-button {
  width: max(100%, 100%);
  height: max(100%, 100%);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
.recipe-browser-recipe-card-recipe-image-contianer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0px;

  width: max(100%, 100%);
  height: max(200px, 200px);
  box-sizing: border-box;
  padding: 0px 10px;
}

.recipe-browser-recipe-card-tags-recipe-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: max(100%, 100%);
  height: max(100%, 100%);
  z-index: 2;
  background-color: red;
}
.recipe-browser-recipe-card-tags-container {
  display: flex;
  flex-wrap: wrap;
  width: max(100%, 100%);
  max-height: max-content;
  gap: 5px;
  z-index: 3;
  align-content: flex-start;
  justify-content: flex-start;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.recipe-browser-recipe-card-tag {
  padding: 0px 5px;
  width: max-content;
  max-width: max-content;
  font-family: var(--google-font);
  font-size: var(--r12);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 0px;
}
.recipe-browser-recipe-card-new-tag {
  background-color: rgba(255, 0, 0, 0.9);
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 3;
}

.recipe-browser-recipe-card-recipe-title {
  color: black;
  font-family: var(--google-font);
  font-size: var(--r22);
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding: 2.5px;
}
.recipe-browser-recipe-card-recipe-text {
  color: black;
  font-family: var(--google-font);
  font-size: var(--r16);
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding: 2.5px;
}
.recipe-browser-recipe-card-rating-makes-container {
  width: max(100%, 100%);
  height: max-content;
  max-height: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.recipe-browser-recipe-card-rating-container,
.recipe-browser-recipe-card-number-of-makes-container {
  display: flex;
  max-height: max-content;
  width: max-content;
  max-width: max-content;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.recipe-browser-recipe-card-user-interaction-icon {
  width: max(20px, 20px);
  height: max(20px, 20px);
  object-fit: contain;
}
.recipe-browser-recipe-card-recipe-text {
  font-size: var(--r12);
  color: black;
  font-family: var(--google-font);
  max-width: max-content;
  width: max-content;
  max-height: max-content;
}
