<div class="social-media-example-main-container">
  <img
    class="social-media-example-background-image"
    alt="channel-photo"
    src="{{ socialMediaBackgroundImageLocation }}"
  />
  <img
    class="social-media-example-thumbnail"
    alt="channel-thumbnail"
    src="{{ socialMediaThumbnailImageLocation }}"
  />
  <p class="social-media-example-title">{{ socialMediaTitle }}</p>
  <p class="social-media-example-number-of-followers">
    {{ numberOfFollowers }}
  </p>

  <div class="social-media-example-link-button">
    <img
      class="homepage-footer-social-media-button-logo"
      alt="social-media-icon"
      src="{{ socialMediaButtonIconLocation }}"
    />
    <p class="homepage-footer-social-meida-button-text">
      {{ socialMediaButtonText }}
    </p>
  </div>
</div>
