.homepage-slideshow-backdrop {
  width: max(100%, 100%);
  height: max(375px, 375px);
  background-image: url("../../../../assets/images/homepage/morocco-blue.png");
  background-position: center;
  position: relative;
}
.homepage-slideshow-button-left,
.homepage-slideshow-button-right {
  position: absolute;
  top: 50%;
  width: max(30px, 30px);
  height: max(30px, 30px);
  border: 0px;
  background-color: black;
  color: white;
  z-index: 3;
  box-shadow: 0px 0px 20px white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
  box-sizing: content-box;
  transform: translateY(-50%);
  transition: all 1s;
}
.homepage-slideshow-button-left:hover,
.homepage-slideshow-button-right:hover {
  color: black;
  background-color: white;
}
.homepage-slideshow-button-left {
  left: -100px;
}
.homepage-slideshow-button-right {
  right: -100px;
}
