.homepage-slideshow-large-card-main-container {
  min-width: calc((250 / var(--base) * 1rem));
  max-width: calc((250 / var(--base) * 1rem));
  min-height: calc((250 / var(--base) * 1rem));
  max-height: calc(250 / var(--base) * 1rem);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 10px;
}
.homepage-slideshow-large-card-image-container {
  flex: 1;
  position: relative;
}
.homepage-slideshow-large-card-image {
  opacity: 1;
  height: 100%;
  position: absolute;
}
.homepage-slideshow-large-card-title {
  height: max(100%, 100%);
  width: max(100%, 100%);
  object-fit: cover;
}
.homepage-slideshow-large-card-border-break {
  width: max(100%, 100%);
  height: max(0px, 0px);
  border-bottom: 2px dashed black;
}
.homepage-slideshow-large-card-detail-container {
  width: max(100%, 100%);
  max-height: max-content;
}
.homepage-slideshow-large-card-tag-container {
  flex: 1;
  position: relative;
}
.homepage-slideshow-large-card-tag-image {
  width: max(40px, 40px);
  height: max(40px, 40px);
  object-fit: cover;
}
