<div class="homepage-footer-main-container">
  <button
    class="homepage-footer-company-info-link"
    (click)="termsOfServiceButtonClickHandler()"
  >
    Terms of Service
  </button>

  <div class="homepage-footer-company-social-media-links-container">
    <a
      class="homepage-footer-company-social-media-link"
      href="https://www.facebook.com/"
    >
      <img
        class="homepage-footer-company-social-media-link-image"
        src="assets/images/icons/social-media-icons/facebook.png"
        alt="facebook"
      />
    </a>
    <a
      class="homepage-footer-company-social-media-link"
      href="https://www.instagram.com/"
    >
      <img
        class="homepage-footer-company-social-media-link-image"
        src="assets/images/icons/social-media-icons/instagram.png"
        alt="instagram"
      />
    </a>
    <a
      class="homepage-footer-company-social-media-link"
      href="https://www.pinterest.com/"
    >
      <img
        class="homepage-footer-company-social-media-link-image"
        src="assets/images/icons/social-media-icons/pinterest.png"
        alt="pinterest"
      />
    </a>
    <a
      class="homepage-footer-company-social-media-link"
      href="https://www..com/"
    >
      <img
        class="homepage-footer-company-social-media-link-image"
        src="assets/images/icons/social-media-icons/youtube.png"
        alt="youtube"
      />
    </a>
  </div>
</div>
