<div class="homepage-footer-main-container">
  <div class="homepage-footer-company-info-links-container">
    <button class="homepage-footer-company-info-link">Terms of Service</button>
    <button class="homepage-footer-company-info-link">Privacy Policy</button>
    <button class="homepage-footer-company-info-link">About Us</button>
  </div>
  <div class="homepage-footer-company-social-media-links-container">
    <img
      class="homepage-footer-company-social-media-link"
      src="assets/images/icons/social-media-icons/facebook.png"
      alt="facebook"
    />
    <img
      class="homepage-footer-company-social-media-link"
      src="assets/images/icons/social-media-icons/instagram.png"
      alt="instagram"
    />
    <img
      class="homepage-footer-company-social-media-link"
      src="assets/images/icons/social-media-icons/pinterest.png"
      alt="pinterest"
    />
    <img
      class="homepage-footer-company-social-media-link"
      src="assets/images/icons/social-media-icons/youtube.png"
      alt="youtube"
    />
  </div>
</div>
