<div class="signup-popup-backdrop">
  <div class="signup-popup-main-container">
    <button
      class="signup-popup-closing-button"
      (click)="closingButtonHandler()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 signup-popup-closing-button-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <p class="signup-popup-title">Signup</p>
    <img
      src="../../../../assets/images/chalk-highlights/chalk-underline.png"
      alt="underline"
      class="signup-popup-title-underline"
    />
    <div
      class="signup-popup-input-container"
      id="signup-popup-input-username-container"
      (mouseenter)="inputContainerMouseEnterHandler($event)"
      (mouseleave)="inputContainerMouseLeaveHandler($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 signup-popup-input-icon"
        id="signup-popup-username-input-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
        />
      </svg>
      <label
        for="signup-popup-username-input"
        class="signup-popup-input-label signup-popup-input-label-moved"
        id="signup-popup-username-input-label"
        >Username</label
      >
      <input
        type="text"
        id="signup-popup-username-input"
        required
        minlength="4"
        maxlength="20"
        size="10"
        class="signup-popup-input"
        disabled
        value="{{ generatedUsername }}"
      />
    </div>
    <div
      class="signup-popup-input-container"
      id="signup-popup-input-email-container"
      (mouseenter)="inputContainerMouseEnterHandler($event)"
      (mouseleave)="inputContainerMouseLeaveHandler($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 signup-popup-input-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
        />
      </svg>

      <label
        for="signup-popup-email-input"
        class="signup-popup-input-label signup-popup-input-label-moved"
        id="signup-popup-email-input-label"
        >Email</label
      >
      <input
        type="text"
        id="signup-popup-email-input"
        required
        minlength="4"
        maxlength="20"
        size="10"
        class="signup-popup-input"
        disabled
        value="{{ generatedEmail }}"
      />
    </div>
    <div
      class="signup-popup-input-container"
      id="signup-popup-input-password-container"
      (mouseenter)="inputContainerMouseEnterHandler($event)"
      (mouseleave)="inputContainerMouseLeaveHandler($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 signup-popup-input-icon"
        id="signup-popup-password-input-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z"
        />
      </svg>

      <label
        for="signup-popup-password-input"
        class="signup-popup-input-label signup-popup-input-label-moved"
        id="signup-popup-password-input-label"
        >Password</label
      >
      <input
        type="text"
        id="signup-popup-password-input"
        required
        minlength="4"
        maxlength="12"
        size="10"
        class="signup-popup-input"
        disabled
        value="{{ generatedPassword }}"
        type="password"
      />
    </div>
    <div
      class="signup-popup-input-container"
      id="signup-popup-input-confirm-password-container"
      (mouseenter)="inputContainerMouseEnterHandler($event)"
      (mouseleave)="inputContainerMouseLeaveHandler($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 signup-popup-input-icon"
        id="signup-popup-confirm-password-input-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z"
        />
      </svg>

      <label
        for="signup-popup-confirm-password-input"
        class="signup-popup-input-label signup-popup-input-label-moved"
        id="signup-popup-confirm-password-input-label"
        >Confirm Password</label
      >
      <input
        type="text"
        id="signup-popup-confirm-password-input"
        required
        minlength="4"
        maxlength="12"
        size="10"
        class="signup-popup-input"
        disabled
        type="password"
        value="{{ generatedPassword }}"
      />
    </div>
    <button class="signup-popup-signup-button" (click)="signupButtonHandler()">
      Signup
    </button>
    <div class="signup-popup-login-container">
      <p class="signup-popup-or-text">-or-</p>
      <button
        class="signup-popup-login-text-button"
        (click)="loginButtonHandler()"
      >
        Login
      </button>
    </div>
  </div>
</div>
