.recipe-browser-recipe-page-results-navigator-main-container {
  position: absolute;
  z-index: 4;
  bottom: 15px;
  right: 20px;
  display: flex;
  gap: 10px;
  width: max-content;
  max-width: max-content;
  max-height: max-content;
  box-sizing: border-box;
  padding: 0px;
}
.recipe-browser-recipe-page-results-navigator-arrow-button {
  width: max(25px, 25px);
  height: max(25px, 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: none;
  transition: all 0.5s;
}
.recipe-browser-recipe-page-results-navigator-arrow-button:hover {
  background-color: var(--main600);
  color: white;
  cursor: pointer;
}

.recipe-browser-recipe-page-results-navigator-button-icon {
  width: max(100%, 100%);
  height: max(100%, 100%);
}
.recipe-browser-recipe-page-results-navigator-page-button {
  padding: 2.5px 2.5px 2.5px 2.5px;
  margin: 0px;
  color: black;
  border: 1px solid black;
  background-color: white;
  transition: all;
  max-height: max-content;
  width: max-content;
  max-width: max-content;
  transition: all 0.5s;
  font-family: var(--google-font);
  font-size: var(--r16);
  line-height: var(--r16);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.recipe-browser-recipe-page-results-navigator-page-button:hover {
  background-color: var(--main600);
  color: white;
  cursor: pointer;
}

.recipe-browser-recipe-page-results-navigator-page-dots {
  padding: 0px;
  margin: 0px;
  font-family: var(--google-font);
  font-size: var(--r16);
  width: max-content;
  max-width: max-content;
  max-height: max-content;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.recipe-browser-recipe-page-results-navigator-page-button-active {
  background-color: var(--main600);
  color: white;
}
