.homepage-nav-bar {
  width: max(100%, 100%);
  max-height: max-content;
  display: grid;
  grid-template-columns: 1fr max-content 1fr max-content 1fr max-content 1fr max-content 1fr;
  align-content: center;
  justify-content: center;
  position: relative;
  padding: calc(20 * var(--pixelToRem));
  padding-top: calc(10 * var(--pixelToRem));
  box-sizing: border-box;
}

.homepage-nav-button,
.homepage-nav-button-no-hover {
  max-width: 100%;
  max-height: max-content;
  padding: calc(0 * var(--pixelToRem)) calc(10 * var(--pixelToRem));

  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;

  font-size: var(--r20);
  line-height: var(--r20);
  font-family: var(--google-font);
  color: var(--main800);
  background-color: inherit;
  position: relative;
}
.homepage-nav-button:hover {
  color: var(--white);
  cursor: pointer;
}
.homepage-nav-button-border {
  height: max(calc(40 * var(--pixelToRem)), calc(40 * var(--pixelToRem)));
  width: max(0px, 0px);
  border-left: calc(3 * var(--pixelToRem)) dashed var(--main1000);
  box-sizing: border-box;
}
.homepage-nav-logo-text-stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  max-height: max-content;
  gap: 0 * var(--pixelToRem);
}
.homepage-logo-text-stack {
  max-width: max-content;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  padding: 0 * var(--pixelToRem);
  margin: 0 * var(--pixelToRem);
}
.homepage-nav-button-logo {
  width: max(45 * var(--pixelToRem), 45 * var(--pixelToRem));
  height: max(45 * var(--pixelToRem), 45 * var(--pixelToRem));
  margin-bottom: 8 * var(--pixelToRem);
}
.homepage-nav-bar-logo-button {
  width: max(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(12.5 * var(--pixelToRem));
}
.homepage-nav-button-stack-recipe {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  height: max(100%, 100%);
  margin: 0 * var(--pixelToRem);
  padding: 0 * var(--pixelToRem);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-nav-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: max-content;
  max-width: max-content;
  z-index: var(--homepage-nav-button-text-z-index);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  margin: 0 * var(--pixelToRem);
  padding: 0 * var(--pixelToRem);
}

.homepage-nav-button-highlight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(160%, 160%);
  height: max(110%, 110%);
  z-index: var(--homepage-nav-button-highlight-z-index);
  transition: all 0.5s;
}
.homepage-nav-button-stack-recipe {
  width: max(6ch, 6ch);
}
.homepagehidechalk {
  display: none;
}
.homepageshowchalk {
  display: flex;
}
.homepage-nav-button-link {
  display: flex;
  align-items: center;
  justify-items: center;
  width: max(100%, 100%);

  height: max(100%, 100%);
}
@media (max-width: 975px) {
  .homepage-nav-button-logo {
    width: max(calc(35 * var(--pixelToRem)), calc(35 * var(--pixelToRem)));
    height: max(calc(35 * var(--pixelToRem)), calc(35 * var(--pixelToRem)));
  }
  .homepage-nav-bar-logo-button {
    width: max(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0px;
  }
  .homepage-nav-button,
  .homepage-nav-button-no-hover {
    font-size: var(--r18);
    line-height: var(--r18);
  }
  .homepage-nav-button-highlight {
    width: max(150%, 150%);
    height: max(100%, 100%);
  }
}
@media (max-width: 675px) {
  .homepage-nav-bar {
    display: grid;
    padding: calc(10 * var(--pixelToRem));
  }
  .homepage-nav-button-logo {
    width: max(calc(30 * var(--pixelToRem)), calc(30 * var(--pixelToRem)));
    height: max(calc(30 * var(--pixelToRem)), calc(30 * var(--pixelToRem)));
  }
  .homepage-nav-bar-logo-button {
    width: max(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5px;
  }
  .homepage-nav-button,
  .homepage-nav-button-no-hover {
    font-size: var(--r14);
    line-height: var(--r14);
  }
  .homepage-nav-button-highlight {
    width: max(140%, 140%);
    height: max(100%, 100%);
  }
}
@media (max-width: 605px) {
  .homepage-nav-button,
  .homepage-nav-button-no-hover {
    font-size: var(--r12);
    line-height: var(--r12);
  }
}
@media (max-width: 450px) {
  .homepage-nav-button,
  .homepage-nav-button-no-hover {
    font-size: var(--r10);
    line-height: var(--r10);
  }
  .homepage-nav-button-logo {
    width: max(calc(20 * var(--pixelToRem)), calc(20 * var(--pixelToRem)));
    height: max(calc(20 * var(--pixelToRem)), calc(20 * var(--pixelToRem)));
  }
  .homepage-nav-bar-logo-button {
    gap: 5px;
  }
  .homepage-nav-button-border {
    height: max(calc(30 * var(--pixelToRem)), calc(30 * var(--pixelToRem)));
    border-left: calc(2 * var(--pixelToRem)) dashed var(--main1000);
  }
}
@media (max-width: 350px) {
  .homepage-nav-button,
  .homepage-nav-button-no-hover {
    font-size: var(--r8);
    line-height: var(--r8);
  }
  .homepage-nav-button-border {
    height: max(calc(25 * var(--pixelToRem)), calc(25 * var(--pixelToRem)));
  }
  .homepage-nav-button-logo {
    width: max(calc(17.5 * var(--pixelToRem)), calc(17.5 * var(--pixelToRem)));
    height: max(calc(17.5 * var(--pixelToRem)), calc(17.5 * var(--pixelToRem)));
  }
}
