<div class="homepage-user-bar">
  <button
    class="homepage-login-button homepage-login-button-round-left-corner"
    (mouseenter)="onLoginButtonHover()"
    (mouseleave)="onLoginButtonHover()"
    (click)="loginButtonHandler()"
  >
    <img
      src="assets/images/icons/homepage/user-white.png"
      alt="User Icon"
      class="homepage-login-button-logo"
      id="chef-hat-logo-white"
      [ngClass]="{
        homepagehidelogo: loginButtonHover === true,
        homepageshowlogo: loginButtonHover === false
      }"
    />
    <img
      src="assets/images/icons/homepage/user-black.png"
      alt="User Icon"
      class="homepage-login-button-logo"
      id="chef-hat-logo-black"
      [ngClass]="{
        homepagehidelogo: loginButtonHover === false,
        homepageshowlogo: loginButtonHover === true
      }"
    />
    Settings

    <div class="homepage-nav-login-break"></div>
  </button>

  <button
    class="homepage-login-button"
    (mouseenter)="onRegisterButtonHover()"
    (mouseleave)="onRegisterButtonHover()"
    (click)="signupButtonHandler()"
  >
    Recipes
    <img
      src="assets/images/icons/homepage/chef-hat-white.png"
      alt="Chef Hat Logo"
      class="homepage-login-button-logo"
      [ngClass]="{
        homepagehidelogo: registerButtonHover === true,
        homepageshowlogo: registerButtonHover === false
      }"
    />
    <img
      src="assets/images/icons/homepage/chef-hat-black.png"
      alt="Chef Hat Logo"
      class="homepage-login-button-logo"
      [ngClass]="{
        homepagehidelogo: registerButtonHover === false,
        homepageshowlogo: registerButtonHover === true
      }"
    />
    <div class="homepage-nav-login-break"></div>
  </button>
  <a
    class="homepage-nav-link"
    routerLink="../recipe-creator"
    (click)="createButtonClickHandler()"
  >
    <button
      class="homepage-login-button homepage-login-button-round-right-corner"
      (mouseenter)="onCreateButtonHover()"
      (mouseleave)="onCreateButtonHover()"
    >
      Create
      <img
        src="assets/images/icons/homepage/new-recipe-icon-white.png"
        alt="Create Logo"
        class="homepage-login-button-logo"
        [ngClass]="{
          homepagehidelogo: createButtonHover === true,
          homepageshowlogo: createButtonHover === false
        }"
      />
      <img
        src="assets/images/icons/homepage/new-recipe-icon.png"
        alt="Create Logo"
        class="homepage-login-button-logo"
        [ngClass]="{
          homepagehidelogo: createButtonHover === false,
          homepageshowlogo: createButtonHover === true
        }"
      />
    </button>
  </a>
</div>
