.homepage-slideshow-small-card-main-container {
  min-width: calc((175 / var(--base) * 1rem));
  max-width: calc((175 / var(--base) * 1rem));
  min-height: calc((175 / var(--base) * 1rem));
  height: calc((175 / var(--base) * 1rem));
  max-height: calc(175 / var(--base) * 1rem);
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 10px;
  border: none;
  transition: all 0.5s;
}

.homepage-slideshow-small-card-image-container {
  width: max(100%, 100%);
  height: max(100%, 100%);

  position: relative;
}

.homepage-slideshow-small-card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: max(100%, 100%);
  height: max(100%, 100%);
}
.homepage-slideshow-small-card-text {
  height: max-content;
  max-height: max-content;
  width: max(100%, 100%);
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: var(--r14);
  line-height: var(--r14);
  display: inline-flex;
}
.homepage-slideshow-small-card-main-container:hover {
  box-shadow: 0px 0px 30px black;
}
@media (max-width: 1080px) {
  .homepage-slideshow-small-card-main-container {
    min-width: calc((150 / var(--base) * 1rem));
    max-width: calc((150 / var(--base) * 1rem));
    min-height: calc((150 / var(--base) * 1rem));
    height: calc((150 / var(--base) * 1rem));
    max-height: calc(150 / var(--base) * 1rem);
  }
  .homepage-slideshow-small-card-text {
    font-size: var(--r12);
    line-height: var(--r12);
  }
}
@media (max-width: 805px) {
  .homepage-slideshow-small-card-main-container {
    min-width: calc((125 / var(--base) * 1rem));
    max-width: calc((125 / var(--base) * 1rem));
    min-height: calc((125 / var(--base) * 1rem));
    height: calc((125 / var(--base) * 1rem));
    max-height: calc(125 / var(--base) * 1rem);
  }
  .homepage-slideshow-small-card-text {
    font-size: var(--r10);
    line-height: var(--r10);
  }
}
@media (max-width: 375px) {
  .homepage-slideshow-small-card-main-container {
    min-width: calc((100 / var(--base) * 1rem));
    max-width: calc((100 / var(--base) * 1rem));
    min-height: calc((100 / var(--base) * 1rem));
    height: calc((100 / var(--base) * 1rem));
    max-height: calc((100 / var(--base) * 1rem));
  }
  .homepage-slideshow-small-card-text {
    font-size: var(--r10);
    line-height: var(--r10);
  }
}
