<div class="terms-of-service-backdrop">
  <div class="terms-of-service-main-container">
    <button
      class="terms-of-service-popup-closing-button"
      (click)="closingButtonHandler()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 terms-of-service-popup-closing-button-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <p class="terms-of-service-popup-title">Terms Of Service</p>
    <img
      src="../../../../assets/images/chalk-highlights/chalk-underline.png"
      alt="underline"
      class="terms-of-service-popup-title-underline"
    />
    <p class="terms-of-service-popup-info-text">
      This web app is strictly a student project. Created with the purpose of
      showcasing and practing angular web development. All user data is deleted
      after an hour. The creator of this page reserves the right to delete any
      recipes created.
    </p>
  </div>
</div>
