.recipe-template-one-main-container {
  width: max(1000px, 1000px);
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

.recipe-template-one-image-container {
  width: max(100%, 100%);
  max-height: max-content;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}

.recipe-template-one-food-image {
  width: max(60%, 60%);
  height: max(500px, 500px);
  object-fit: fill;
  border-radius: 10px;
}
.recipe-template-one-title-container {
  position: absolute;
  bottom: 20%;
  left: 37.5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: max-content;
  max-width: max-content;
  height: max-content;
  padding: 20px 30px;
  background-color: rgb(205, 145, 100);
  box-sizing: border-box;
  border-radius: 10px;
}

.recipe-template-one-tags-container {
  position: absolute;
  top: 20px;
  right: 10px;
  width: max(300px, 300px);
  min-height: 50px;
  height: max-content;
  max-height: 150px;

  display: flex;
  gap: 2.5px;
  row-gap: 2.5px;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  justify-content: flex-start;
}

.recipe-template-one-tags-title {
  position: absolute;
  top: 10px;
  right: 245px;
  padding: 0px;
  margin: 0px;
  font-family: var(--google-font);
  font-size: var(--r16);
  color: black;
  background-color: white;
  padding: 0px 10px;
  z-index: 2;
}
.recipe-template-one-tag-container {
  display: flex;
  width: max-content;
  max-width: max-content;
  height: max-content;
  max-height: max-content;
  padding: 0px;
  margin: 0px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  box-sizing: border-box;
  padding: 5px 10px;
}

.recipe-template-one-edit-button {
  width: max(30px, 30px);
  height: max(30px, 30px);
  padding: 7.5px;
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.25s;
  border-radius: 50%;
  z-index: 2;
}
.recipe-template-one-tags-edit-button {
  top: 7.5px;
  right: 30px;
}
.recipe-template-one-photo-edit-button {
  top: -10px;
  left: 530px;
}

.recipe-template-one-edit-button:hover {
  background-color: black;
  cursor: pointer;
}
.recipe-template-one-edit-button-icon {
  width: max(100%, 100%);
  height: max(100%, 100%);
  object-fit: cover;
  display: inline;
  background-color: transparent;
}

.recipe-template-one-tag-text {
  padding: 0px;
  margin: 0px;
  font-family: var(--google-font);
  font-size: var(--r16);
  color: inherit;
}

.recipe-template-one-closing-icon {
  width: max(15px, 15px);
  height: max(15px, 15px);
  color: inherit;
  box-sizing: border-box;
}

.recipe-template-one-delete-tag-button {
  width: max-content;
  max-width: max-content;
  max-height: max-content;
  background-color: black;
  border-radius: 50%;
  transition: all 0.25s;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.recipe-template-one-add-entry-button {
  width: max(20px, 20px);
  height: max(20px, 20px);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  position: absolute;
  border: 0px;
  padding: 2.5px;
  color: white;
  transition: all 0.5s;
}

.recipe-template-one-add-entry-button:hover,
.recipe-template-one-add-text-button:hover,
.recipe-template-one-delete-tag-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.recipe-template-one-add-entry-button-icon {
  width: max(100%, 100%);
  height: max(100%, 100%);
  color: inherit;
}

.recipe-template-one-add-ingredient-direction-button {
  top: 0px;
  right: 10px;
}
.recipe-template-one-add-notes-button {
  top: 10px;
  right: 10px;
}
.recipe-template-one-add-button-icon {
  color: white;
  width: max(100%, 100%);
  height: max(100%, 100%);
  position: relative;
  display: flex;
  padding-bottom: 0.5px;
  padding-left: 1px;
  align-items: center;
  justify-items: center;
}

.recipe-template-one-title {
  font-family: var(--google-font);
  font-size: var(--r64);
  padding: 0px;
  margin: 0px;
  width: max(12ch, 12ch);
  height: max-content;
  max-height: max-content;
  background-color: inherit;
  border: 0px;
  position: relative;
  resize: none;
}
.recipe-template-one-quote-text {
  font-family: var(--google-font);
  font-size: var(--r32);
  padding: 0px;
  margin: 0px;
  font-style: italic;
  background-color: inherit;
  border: none;
  resize: none;
}
.recipe-template-one-info-container {
  width: max(100%, 100%);
  max-height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 40px;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 30px;
  border-radius: 10px;
}

.recipe-template-one-info-bar {
  width: max(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.recipe-template-one-info-bar-info-container {
  max-width: max-content;
  width: max-content;
  max-height: max-content;
  display: flex;
  gap: 15px;
}
.recipe-template-info-bar-info-text {
  font-family: var(--google-font);
  font-size: var(--r16);
  padding: 0px;
  margin: 0px;
}
.recipe-template-info-bar-info-input {
  font-family: var(--google-font);
  font-size: var(--r16);
  line-height: var(--r16);
  padding: 0px;
  margin: 0px;
  border: none;
  max-height: max-content;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipe-template-info-bar-servings-input {
  min-width: 3ch;
  width: 3ch;
  max-width: 3ch;
}
.recipe-template-info-bar-prep-time-input {
  min-width: 16ch;
  width: 16ch;
  max-width: 16ch;
}
.recipe-template-one-ingredients-directions-container {
  width: max(100%, 100%);
  min-height: 400px;
  max-height: max-content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.recipe-template-one-ingredients-container {
  width: max(100%, 100%);
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.recipe-template-one-ingredients-title {
  font-family: var(--google-font);
  font-size: var(--r32);
  text-align: center;
  color: black;
  padding: 0px;
  margin: 0px;
}

.recipe-template-one-text-area-container,
.recipe-template-one-text-area-container-notes {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 10px;
  height: max-content;
  max-height: max-content;
  width: 100%;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 0px;
  position: relative;
  margin-left: 20px;
}
.recipe-template-one-text-area-index {
  margin: 0px;
  padding: 0px;
  font-family: var(--google-font);
  font-size: var(--r16);
  align-self: flex-start;
}
.recipe-template-one-text-area-container-directions {
  width: 80%;
  grid-template-columns: max-content 1fr max-content;
}
.recipe-template-one-text-area-container-ingredients {
  grid-template-columns: max-content 1fr max-content;
}
.recipe-template-one-text-area-container-notes {
  width: max(90%, 90%);
}

.recipe-template-one-text-area-delete-icon {
  width: max(20px, 20px);
  height: max(20px, 20px);
  transition: all 1s;
  border-radius: 50%;
  padding: 2.5px;
  box-sizing: border-box;
}
.recipe-template-one-text-area-delete-icon:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.recipe-template-one-text-area {
  font-family: var(--google-font);
  font-size: var(--r16);
  color: black;
  padding: 0px;
  margin: 0px;
  height: max-content;
  border: none;
  resize: none;
  width: max(100%, 100%);
}
.recipe-template-one-direction-container {
  width: max(100%, 100%);
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  text-align: left;
}

.recipe-template-one-notes-top-container {
  width: max(100%, 100%);
  min-height: 100px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.recipe-template-one-notes-title {
  font-family: var(--google-font);
  font-size: var(--r32);
  line-height: var(--r32);
  border: none;
  padding: 0px;
  margin: 0px;
  color: black;
  font-weight: bold;
  max-width: max-content;
  max-height: max-content;
  padding-bottom: 10px;
  padding-left: 10px;
  justify-self: flex-start;
  align-self: flex-start;
}

.recipe-template-one-notes-area {
  width: max(100%, 100%);
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-family: var(--google-font);
  font-size: var(--r16);
  line-height: var(--r16);
  border: none;
  margin: 0px !important;
}
.mat-form-field-class {
  min-width: max-content;
  width: max-content;
  max-width: max-content;
  min-height: max-content;
  height: max-content;
  max-height: max-content;
}
.recipe-template-one-directions-textarea {
  text-align: left;
}
