<div class="recipe-template-two-main-container">
  <create-recipe-button
    [templateData]="userEnteredTemplateData"
    (createButtonClicked)="createButtonClicked($event)"
  ></create-recipe-button>
  <div class="recipe-template-two-title-half-container">
    <button
      class="recipe-template-two-photo-edit-button recipe-template-two-edit-button"
      (click)="dishImageEditButtonHandler()"
      (mouseenter)="editPhotoButtonMouseEnterHandler()"
      (mouseleave)="editPhotoButtonMouseEnterHandler()"
      *ngIf="!editButtonsActive"
    >
      <img
        class="recipe-template-two-edit-button-icon"
        alt="tags button icon"
        src="../../../../../assets/images/icons/homepage/new-recipe-icon.png"
        *ngIf="!editPhotoButtonMouseEnter"
      />
      <img
        class="recipe-template-two-edit-button-icon"
        alt="tags button icon"
        src="../../../../../assets/images/icons/homepage/new-recipe-icon-white.png"
        *ngIf="editPhotoButtonMouseEnter"
      />
    </button>
    <div class="recipe-template-two-title-container">
      <textarea
        class="recipe-template-two-title"
        (keyup)="textAreaInputHandler($event, 'title')"
        placeholder="Enter a Title"
      ></textarea>
      <textarea
        class="recipe-template-two-quote"
        (keyup)="textAreaInputHandler($event, 'quote')"
        placeholder="Enter a Quote"
      ></textarea>
    </div>

    <img
      class="recipe-template-two-food-image"
      [alt]="
        dishImagesData[userEnteredTemplateData.selectedRecipeDishImageIndex]
          .altText
      "
      [src]="
        dishImagesData[userEnteredTemplateData.selectedRecipeDishImageIndex]
          .imageLocation
      "
    />
  </div>
  <div class="recipe-template-two-recipe-half-container">
    <p class="recipe-template-two-tags-title">Tags</p>
    <button
      class="recipe-template-two-tags-edit-button recipe-template-two-edit-button"
      (click)="editTagsButtonHandler()"
      (mouseenter)="editTagButtonMouseEnterHandler()"
      (mouseleave)="editTagButtonMouseEnterHandler()"
      *ngIf="!editButtonsActive"
    >
      <img
        class="recipe-template-two-edit-button-icon"
        alt="tags button icon"
        src="../../../../../assets/images/icons/homepage/new-recipe-icon.png"
        *ngIf="!editTagsButtonMouseEnter"
      />
      <img
        class="recipe-template-two-edit-button-icon"
        alt="tags button icon"
        src="../../../../../assets/images/icons/homepage/new-recipe-icon-white.png"
        *ngIf="editTagsButtonMouseEnter"
      />
    </button>

    <div class="recipe-template-two-tags-container">
      <button
        class="recipe-template-two-tag-button"
        *ngFor="
          let selectedTagsEntry of selectedTags;
          let indexOfSelectedTags = index
        "
        id="{{ selectedTagsButtonIds[indexOfSelectedTags] }}"
      >
        <p class="recipe-template-two-tag-text">{{ selectedTagsEntry }}</p>
        <button
          class="recipe-template-two-delete-tag-button"
          (click)="deleteTagButtonHandler($event)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 recipe-template-two-closing-icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </button>
    </div>
    <div class="recipe-template-two-info-container">
      <p class="recipe-template-two-info-title">Ingredients</p>
      <button
        class="recipe-template-two-add-text-button recipe-template-two-add-text-button-ingredients"
        (click)="addTextAreaHandler('ingredients')"
        *ngIf="!editButtonsActive"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 recipe-template-two-add-ingredient-button-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
      </button>

      <div
        class="recipe-template-two-info-text-area-container recipe-template-two-info-text-area-container-ingredients"
        *ngFor="
          let ingredientsText of blankTemplateData.ingredientsList;
          let ingredientIndex = index
        "
        id="{{ ingredientListIds[ingredientIndex] }}"
      >
        <p class="recipe-template-two-text-area-index">-</p>
        <textarea
          class="recipe-template-two-text-area recipe-template-two-ingredient-textarea"
          (keyup)="addTextAreaHandler('ingredient')"
          placeholder="Please enter an ingredient"
          >{{
            listElementDefaultValuesWhenNewItemAddedArray.ingredients[
              ingredientIndex
            ]
          }}</textarea
        >

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 recipe-template-two-text-area-delete-icon"
          (click)="deleteTextAreaHandler($event, 'ingredients')"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
          />
        </svg>
      </div>
    </div>
    <div class="recipe-template-two-info-container">
      <button
        class="recipe-template-two-add-text-button recipe-template-two-add-text-button-directions"
        (click)="addTextAreaHandler('directions')"
        *ngIf="!editButtonsActive"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 recipe-template-two-add-ingredient-button-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
      </button>

      <p class="recipe-template-two-info-title">Directions</p>
      <div
        class="recipe-template-two-info-text-area-container"
        *ngFor="
          let directionsText of blankTemplateData.directionsList;
          let directionIndex = index
        "
        id="{{ directionsListIds[directionIndex] }}"
      >
        <p class="recipe-template-two-text-area-index">
          {{ directionIndex + 1 }}.
        </p>
        <textarea
          class="recipe-template-two-text-area recipe-template-two-directions-textarea"
          (keyup)="textAreaInputHandler($event, 'directions')"
          placeholder="Please enter a direction"
          >{{
            listElementDefaultValuesWhenNewItemAddedArray.directions[
              directionIndex
            ]
          }}</textarea
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 recipe-template-two-text-area-delete-icon"
          (click)="deleteTextAreaHandler($event, 'directions')"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
          />
        </svg>
      </div>
    </div>
    <img
      class="recipe-template-two-stamp-image"
      alt="stamp-image"
      src="../../../../../assets/images/recipe-creator/recipe-cards/baked-shop-logo.png"
    />
  </div>
</div>
