<div class="recipe-viewer-backdrop">
  <logged-in-nav-bar *ngIf="loggedIn"></logged-in-nav-bar>
  <logged-out-nav-bar *ngIf="!loggedIn"></logged-out-nav-bar>

  <div class="recipe-viewer-main-container">
    <recipe-template-one-viewer
      *ngIf="+retrievedData.selectedTemplateIndex === 1"
      [recipeData]="retrievedData"
    ></recipe-template-one-viewer>
    <recipe-template-two-viewer
      *ngIf="+retrievedData.selectedTemplateIndex === 2"
      [recipeData]="retrievedData"
    ></recipe-template-two-viewer>
    <recipe-template-three-viewer
      *ngIf="+retrievedData.selectedTemplateIndex === 3"
      [recipeData]="retrievedData"
    ></recipe-template-three-viewer>

    <recipe-viewer-review-bar
      *ngIf="loggedIn"
      [recipeData]="retrievedData"
    ></recipe-viewer-review-bar>
  </div>
</div>
