.recipe-viewer-backdrop {
  min-height: 100vh;
  height: max-content;
  max-height: max-content;
  max-width: 100vw;
  min-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  margin: 0px;
  overflow: hidden;
  box-sizing: content-box;
  background-image: url("../../../assets/images/recipe-creator/backdrops/silver-metallic-textured-background.jpg");
}
.recipe-viewer-main-container {
  background-color: var(--lightwhite);
  width: max(1000px, 1000px);
  min-height: max-content;
  height: max-content;
  max-height: max-content;
  position: relative;
  padding: 0px;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
@media (max-width: 1000px) {
  .recipe-viewer-backdrop {
    width: max-content;
    max-width: max-content;
    box-sizing: border-box;
    padding: 50px 100px;
  }

  .recipe-viewer-main-container {
    width: max-content;
    max-width: max-content;
    min-width: max-content;
  }
}
