.recipe-creator-create-button {
  position: absolute;
  top: -60px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--main600);
  font-family: var(--google-font);
  font-size: var(--r20);
  transition: all 0.5s;
}

.recipe-creator-create-button:hover {
  background-color: var(--main200);
  color: black;
  cursor: pointer;
}
