.homepage-new-recipe-slideshow-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: max-content;
  min-width: max-content;
  min-height: max-content;
  height: max-content;
  max-height: max-content;
  margin: 0px;
  position: relative;
}
.homepage-new-recipe-slideshow-preview-popup-button {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(-100%);
  width: max(30px, 30px);
  height: max(30px, 30px);
  box-sizing: border-box;
  padding: 5px;
  color: white;
  background-color: var(--main800);
  transition: "background-color" 0.5s color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.homepage-new-recipe-slideshow-preview-popup-button-active {
  box-shadow: 0px 0px 10px black;
  color: black;
  background-color: var(--main100);
}
.homepage-new-recipe-slideshow-preview-popup-button-icon {
  width: max(100%, 100%);
  height: max(100%, 100%);
  color: inherit;
}
.homepage-new-recipe-slideshow-preview-popup-button:hover {
  color: black;
  background-color: var(--main100);
}

.homepage-new-recipe-slideshow-backdropImage {
  width: max(100%, 100%);
  height: max(100%, 100%);
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media (max-width: 900px) {
  .homepage-new-recipe-slideshow-backdrop {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .homepage-new-recipe-slideshow-backdrop {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
