<div class="homepage-cuisine-section-main-container">
  <large-slideshow-cuisine-card
    imageUrl="{{ tempData[2].imageUrl }}"
    title="{{ tempData[2].title }}"
    cookingTime="{{ tempData[2].cookingTimeInMinutes }}"
    [tagsImageArray]="dataTagArray[2]"
  ></large-slideshow-cuisine-card>
  <div class="homepage-cuisine-section-small-slides-container">
    <small-slideshow-cuisine-card
      imageUrl="{{ tempData[0].imageUrl }}"
      title="{{ tempData[0].title }}"
    ></small-slideshow-cuisine-card>
    <small-slideshow-cuisine-card
      imageUrl="{{ tempData[0].imageUrl }}"
      title="{{ tempData[0].title }}"
    ></small-slideshow-cuisine-card>
    <small-slideshow-cuisine-card
      imageUrl="{{ tempData[0].imageUrl }}"
      title="{{ tempData[0].title }}"
    ></small-slideshow-cuisine-card>
    <small-slideshow-cuisine-card
      imageUrl="{{ tempData[0].imageUrl }}"
      title="{{ tempData[0].title }}"
    ></small-slideshow-cuisine-card>
  </div>
</div>
