.homepage-cuisine-section-main-container {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  grid-template-columns: max-content max-content;

  background-position: center;

  background-size: contain;
  background-image: url("../../../../assets/images/homepage/morocco-blue.png");
  box-sizing: border-box;

  max-width: calc(700 / var(--base) * 1rem);
  min-width: calc(700 / var(--base) * 1rem);
  min-height: calc(375 / var(--base) * 1rem);
  max-height: calc(375 / var(--base) * 1rem);
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  padding: 20px;
}
.homepage-cuisine-section-small-slides-container {
  height: max-content;
  max-height: max-content;
  width: max-content;
  max-width: max-content;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  align-items: space-evenly;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.homepage-new-recipe-slideshow-preview-popup-button {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(-100%);
  width: max(30px, 30px);
  height: max(30px, 30px);
  box-sizing: border-box;
  padding: 5px;
  color: white;
  background-color: var(--main800);
  transition: "background-color" 0.5s color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.homepage-new-recipe-slideshow-preview-popup-button-active {
  box-shadow: 0px 0px 10px black;
  color: black;
  background-color: var(--main100);
}
.homepage-new-recipe-slideshow-preview-popup-button-icon {
  width: max(100%, 100%);
  height: max(100%, 100%);
  color: inherit;
}
.homepage-new-recipe-slideshow-preview-popup-button:hover {
  color: black;
  background-color: var(--main100);
}

@media (max-width: 900px) {
  .homepage-cuisine-section-main-container {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 805px) {
  .homepage-cuisine-section-main-container {
    min-height: calc(300 / var(--base) * 1rem);
    max-height: calc(300 / var(--base) * 1rem);
  }
}
@media (max-width: 580px) {
  .homepage-cuisine-section-small-slides-container {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: max(100%, 100%);
  }
  .homepage-cuisine-section-main-container {
    min-height: calc(275 / var(--base) * 1rem);
    max-height: calc(275 / var(--base) * 1rem);
    display: flex;

    padding: 0px 0px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
}
