.homepage-slideshow-small-card-main-container {
  min-width: calc((250 / var(--base) * 1rem));
  max-width: calc((250 / var(--base) * 1rem));
  min-height: calc((250 / var(--base) * 1rem));
  max-height: calc(250 / var(--base) * 1rem);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 10px;
}
.homepage-slideshow-small-card-image-container {
  flex: 1;
  position: relative;
}

.homepage-slideshow-small-card-image {
  opacity: 1;
  height: 100%;
  position: absolute;
}
.homepage-slideshow-small-card-text {
  height: max(100%, 100%);
  width: max(100%, 100%);
  object-fit: cover;
}
