<div class="homepage-spring-slide">
  <div class="homepage-slides-title-card">
    <h6 class="homepage-slides-title">Chicken</h6>
    <img
      class="chicken-slide-title-underline"
      src="assets/images/chalk-highlights/chalk-underline.png"
      alt="underline"
    />
    <h6 class="homepage-slides-title">Dishs</h6>
    <img
      class="chicken-slide-title-underline-small"
      src="assets/images/chalk-highlights/chalk-underline.png"
      alt="underline"
    />
  </div>
  <div class="homepage-spring-slide-stacked-cards">
    <small-slideshow-card
      imageUrl="{{ tempData[0].imageUrl }}"
      title="{{ tempData[0].title }}"
    ></small-slideshow-card>
    <small-slideshow-card
      imageUrl="{{ tempData[1].imageUrl }}"
      title="{{ tempData[1].title }}"
    ></small-slideshow-card>
  </div>
  <large-slideshow-card
    imageUrl="{{ tempData[2].imageUrl }}"
    title="{{ tempData[2].title }}"
    cookingTime="{{ tempData[2].cookingTimeInMinutes }}"
    [tagsImageArray]="dataTagArray[2]"
  ></large-slideshow-card>
  <div class="homepage-spring-slide-stacked-cards">
    <small-slideshow-card
      imageUrl="{{ tempData[0].imageUrl }}"
      title="{{ tempData[0].title }}"
    ></small-slideshow-card>
    <small-slideshow-card
      imageUrl="{{ tempData[1].imageUrl }}"
      title="{{ tempData[1].title }}"
    ></small-slideshow-card>
  </div>
</div>
