<div class="homepage-slideshow-large-card-main-container">
  <div class="homepage-slideshow-large-card-image-container">
    <img
      src="{{ imageUrl }}"
      alt="{{ title }}"
      class="homepage-slideshow-large-card-image"
    />
  </div>
  <p class="homepage-slideshow-large-card-title">{{ title }}</p>
  <div class="homepage-slideshow-large-card-border-break"></div>
  <div class="homepage-slideshow-large-card-detail-container">
    <p class="homepage-slideshow-large-card-time-to-cook">
      Time: {{ displayedCookingTime }}
    </p>
    <div class="homepage-slideshow-large-card-tag-container">
      <img
        *ngFor="let tagImage of tagsImageArray"
        src="{{ tagImage.iconLocation }}"
        alt="tag"
        class="homepage-slideshow-large-card-tag-image"
      />
    </div>
  </div>
</div>
