.homepage-slideshow-large-card-main-container {
  min-width: calc((250 / var(--base) * 1rem));
  max-width: calc((250 / var(--base) * 1rem));
  min-height: calc((250 / var(--base) * 1rem));
  max-height: calc(250 / var(--base) * 1rem);
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 10px;
}
.homepage-slideshow-large-card-image-container {
  flex: 1;
  position: relative;
  width: max(100%, 100%);

  height: max(100%, 100%);
}
.homepage-slideshow-large-card-image {
  width: max(100%, 100%);

  height: max(100%, 100%);
  position: absolute;
}
.homepage-slideshow-large-card-title {
  height: max(100%, 100%);
  width: max(100%, 100%);
  padding: 0px;
  margin: 0px;
  object-fit: cover;
  font-size: var(--r14);
  font-family: var(--google-font);
}
.homepage-slideshow-large-card-time-to-cook {
  width: 270px;
  max-height: max-content;
  padding: 0px;
  margin: 0px;
  font-size: var(--r12);
  font-family: var(--google-font);
}
.homepage-slideshow-large-card-border-break {
  width: max(100%, 100%);
  height: max(0px, 0px);
  border-bottom: 2px dashed black;
}
.homepage-slideshow-large-card-detail-container {
  width: max(100%, 100%);
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage-slideshow-large-card-tag-container {
  width: max(100%, 100%);
  height: max(100%, 100%);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  gap: 10px;
}
.homepage-slideshow-large-card-tag-image {
  width: max(20px, 20px);
  height: max(20px, 20px);
  object-fit: contain;
}

/* homepage-slideshow-large-card-tag-container */
